{% extends "base.html" %}

{% block title %}Add an Event!{% endblock %}

{% block content %}

<h1>Add an Event!</h1>

<form action="{% url 'reminder:add_event_add' %}" method="post">
{% csrf_token %}
	Event name:
	<input id="name" name="name" type="text"/>
	<br>
	<select name="frequency">
	{% for freq in possible_freq %}
	<option value="{{ freq }}">{{ freq }}</option>
	{% endfor %}
	</select>
	<br>
	Time:
	<input type="date" name="time">
	<br>
	Email Reminder:
	<input type="checkbox" name="reminder" value="reminder"/>
	<br>
	Text:
	<input type="text" name="text" />
	<br>
	<input type="submit" name="submit_friend_form" value="Submit"/>
</form>
{% endblock %}