{% extends "base.html" %}

{% block title %}Keep In Touch{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<p> welcome, {{ user.username }}. </p>
<a href="/accounts/logout">logout</a>

</br></br></br>
<a href="{% url 'reminder:add_friend' %}">Add Friend</a>
</br></br></br>
<a href="{% url 'reminder:add_event' %}">Add Event</a>


{% else %}

<a href="/accounts/login">login</a>
<a href="/accounts/add">Create an account</a>
{% endif %}





<h1 align="center" class="text-primary">Welcome!</h1>
<h2>These are your friends:</h2>
{% if friend_list %}
	<ul>
	{% for friend in friend_list %}
		<li>{{ friend.firstName }}</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No friends available.</p>
{% endif %}

</br>

<h2>These are your reminders:</h2>
		{% if event_list %}
	<ul>
	{% for event in event_list %}
		<li>{{ event.name }}</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No events available.</p>
{% endif %}

{% endblock %}