{% extends "base.html" %}

{% block title %}babble{% endblock %}

{% block content %}
<div class="container">
{% if user.is_authenticated %}

	<div class='page-header'><h1><strong>hi.</strong><br> <small></small></h1></div>

	
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#friendCollapse">
					friends:</a>
				</h2>
			</div>
			<div id="friendCollapse" class="panel-collapse collapse in">
				<div class="panel-body">
					{% if friend_list %}
					<table class="table table-hover">
						{% for friend in friend_list %}
						<td><tr>{{ friend.firstName }}</tr></td>
						{% endfor %}
					
					{% else %}
						<p>No friends available.</p>
					{% endif %}
					</table>
				</div>
			</div>
		</div>
	</div>

	<br/>
	
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#eventCollapse">
					events:</a>
				</h2>
			</div>
			<div id="eventCollapse" class="panel-collapse collapse in">
				<div class="panel-body">
					{% if event_list %}
					<table class="table table-hover">
						{% for event in event_list %}
						<td><tr>{{ event.name }}</tr></td>
						{% endfor %}
					
					{% else %}
						<p>No events available.</p>
					{% endif %}
					</table>
				</div>
			</div>
		</div>
	</div>
	
	


{% else %}
	<br/>

		<div class="jumbotron">
			
				<h1>babble</h1>
				<p>hi.</p>
				<p><a class="btn btn-primary btn-lg" href="/accounts/add">Sign up. </a></p>
			
		</div>
	<p>hi.</p>
	<p>Put explanation here. </p>
	
	
{% endif %}
</div>
{% endblock %}