{% extends "base.html" %}

{% block title %}babble-Create Account{% endblock %}

{% block content %}
<div class="container">
	<div class='page-header'><h1><strong>New Users</strong><br> <small>create your own account</small></h1></div>
	
	<form class="form-horizontal" role="form" action="{% url 'reminder:add_user_add' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="first_name" class="col-lg-2 control-label">First Name:</label>
			<div class="col-lg-6"><input class="form-control" id="first_name" name="first_name" type="text"/></div>
		</div>
			
		<div class="form-group">
			<label for="last_name" class="col-lg-2 control-label">Last Name:</label>
				<div class="col-lg-6"><input class="form-control" id="last_name" name="last_name" type="text"/></div>
		</div>
		
		<div class="form-group">
			<label for="username" class="col-lg-2 control-label">Username:</label>
				<div class="col-lg-6"><input class="form-control" id="uname" name="uname" type="text"/></div>
		</div>

		<div class="form-group">
			<label for="email" class="col-lg-2 control-label">Email:</label>
				<div class="col-lg-6"><input class="form-control" id="email" name="email" type="text"/></div>
		</div>
		
		<div class="form-group">
			<label for="pwd" class="col-lg-2 control-label">Password:</label>
				<div class="col-lg-6"><input class="form-control" id="pwd" name="pwd" type="password"/></div>
		</div>
		
		<div class="form-group">
			<label class='control-label'><button type="submit" class="btn btn-primary" name="submit_user_form">Join!</button></label>
		</div>
	</form>
</div>
{% endblock %}